@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Metropolis';
    font-weight: 100;
    src: url(../FONTS/Metropolis-Thin.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 100;
    font-style: italic;
    src: url(../FONTS/Metropolis-ThinItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 200;
    src: url(../FONTS/Metropolis-ExtraLight.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 200;
    font-style: italic;
    src: url(../FONTS/Metropolis-ExtraLightItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 300;
    src: url(../FONTS/Metropolis-Light.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 300;
    font-style: italic;
    src: url(../FONTS/Metropolis-LightItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 400;
    src: url(../FONTS/Metropolis-Regular.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 400;
    font-style: italic;
    src: url(../FONTS/Metropolis-RegularItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 500;
    src: url(../FONTS/Metropolis-Medium.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 500;
    font-style: italic;
    src: url(../FONTS/Metropolis-MediumItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 600;
    src: url(../FONTS/Metropolis-SemiBold.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 600;
    font-style: italic;
    src: url(../FONTS/Metropolis-SemiBoldItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 700;
    src: url(../FONTS/Metropolis-Bold.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 700;
    font-style: italic;
    src: url(../FONTS/Metropolis-BoldItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 800;
    src: url(../FONTS/Metropolis-ExtraBold.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 800;
    font-style: italic;
    src: url(../FONTS/Metropolis-ExtraBoldItalic.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 900;
    src: url(../FONTS/Metropolis-Black.otf);
}
@font-face {
    font-family: 'Metropolis';
    font-weight: 900;
    font-style: italic;
    src: url(../FONTS/Metropolis-BlackItalic.otf);
}

:root {
    --font: 'Metropolis', sans-serif;
    --bg: #F2F2F2;
    --shadow: 0 0 100px 20px rgba(71, 238, 99, 0.842);
    --borderRadius: 30px;
    --lpurp: rgb(178, 147, 236);
    --mpurp: rgb(111, 62, 202);

    --f-200: 0.5rem;
    --f-300: 0.75rem;
    --f-400: 1rem;
    --f-500: 1.25rem;
    --f-600: 1.5rem;
    --f-700: 2rem;
    --f-800: 3rem;
    --f-850: 3.5rem;
    --f-900: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 9rem;
}

body {
    font-family: var(--font);
    background: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.container {
    min-height: 100vh;
    max-width: 200rem;
    margin: auto;
    display: grid;
    place-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #099b21bb, #55e273be);
    background-size: cover;
    /* backdrop-filter: blur(0px); */
    border-radius: 50px;
    /* backdrop-filter: blur(24px); */
}

.shadow {
    border-radius: 50px;
    min-height: 600px;
    width: 1000px;
    box-shadow: var(--shadow);
    font-size: var(--f-500);
    background-image: url(../IMAGES/885026.png);
    background-size: cover;
}

.title {
    height: 25%;
    display: flex;
    align-items: center;
}

.title p {
    margin: auto;
    display: block;
    /* position: absolute; */
    left: 50%;
    top: 45%;
    font-size: var(--f-900);
    font-weight: 900;
    font-style: italic;
    color: var(--bg);
    text-transform: uppercase;
    text-align: center;
    margin-top: -50px;
    user-select: none;
}

.button {
    height: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    text-transform: uppercase;
    cursor: pointer;
}

.button .input, .inputt {
    font-size: var(--f-700);
    border: none;
    border-radius: 50px;
    padding: 20px 100px;
    transition: background 450ms, color 450ms, transform 250ms;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    /* display: block. */
    background: linear-gradient(45deg, #000000c0, #000000a2);
    color: #FFF;
    font-weight: 900;
    font-style: italic;
}

.button i:hover {
    transform: scale(1.05, 1.05);
}

.button i:active {
    transform: scale(0.98, 0.98);
}
.button i {
    /* font-size: var(--f-700); */
    border: none;
    border-radius: 50px;
    padding: 20px 20px;
    transition: background 450ms, color 450ms, transform 250ms;
    margin: auto;
    /* display: block. */
    color: #FFF;
    cursor: pointer;
}

.authCode {
    user-select: none;
}

.icosize {
    font-size: 70px;
}

.eye {
    position: relative;
    right: 90px;
    font-size: 35px;
}

.cross {
    position: relative;
    left: 90px;
    font-size: 35px;
    z-index: 4;
}

.button .input:hover {
    transform: scale(1.02, 1.02);
}

.button .input:active {
    transform: scale(0.98, 0.98);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background: linear-gradient(45deg, #000000c0, #000000a2);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
    font-family: var(--font);
    font-weight: 200;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000c0 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

